body{
  background-color: #edebe8;
}
.header{
  color: #c96f26;
  text-align: center;
  background-color: #d3d4c9;
  margin: 2px;
  border:2px dotted red;
  box-shadow: 2px 4px  #c2eddb;
}

.card-view{
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin: 1%;
}

.card-1,.card-2,.card-3{
  border: 2px solid #ddd;
  padding: 1%;
  margin: 1%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  border-radius: 10%;
  box-shadow: 2px 2px 2px #ebd48a;
}

img{

  border-radius: 70%;
  box-shadow: 2px 2px 2px 2px lightblue;
}

h2{
  color: green;
}

p{
  text-align: center;
  color: #ad9d90;
}
.bt {
    box-shadow: 2px 2px 2px 2px #21618c;
    color: #032b2a;
    padding: 1%;
    margin: 1.5%;
  }
.footer{
  text-align: center;
  font-size: 20px;
  color: #81ad72;
  box-shadow: 2px 2px 2px 2px #f3f589;
}

@media screen and (min-width:320px) and (max-width:480px){
  .header{
    color: #c96f26;
    text-align: center;
    background-color: #d3d4c9;
    margin: 2px;
    border:2px dotted red;
    box-shadow: 2px 4px  #c2eddb;
  }
  .card-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-1,.card-2,.card-3{
    border: 2px solid #ddd;
    padding: 1%;
    margin: 1%;
    max-width: 95%;
    font-size: 20px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 2px 2px 2px #ebd48a;
  }

  img{
    border-radius: 70%;
    box-shadow: 2px 2px 2px 2px lightblue;
  }

  h2{
    color: green;
  }
  p{
    text-align: center;
    color: #ad9d90;
  }
  .footer{
    text-align: center;
    font-size: 20px;
    color: #81ad72;
    box-shadow: 2px 2px 2px 2px #f3f589;
  }

@media screen and (min-width:481px) and (max-width:769px){

  .header{
    color: #c96f26;
    text-align: center;
    background-color: #d3d4c9;
    margin: 2px;
    border:2px dotted red;
    box-shadow: 2px 4px  #c2eddb;
  }
  .card-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card-1,.card-2,.card-3{
    border: 2px solid #ddd;
    padding: 1%;
    margin: 1%;
    font-size: 20px;
    width: 40%;
    text-align: center;
    border-radius: 10%;
    box-shadow: 2px 2px 2px #ebd48a;
  }

  img{
    border-radius: 70%;
    box-shadow: 2px 2px 2px 2px lightblue;
  }

  h2{
    color: green;
  }

  p{
    text-align: center;
    color: #ad9d90;
  }

  .footer{
    text-align: center;
    font-size: 20px;
    color: #81ad72;
    box-shadow: 2px 2px 2px 2px #f3f589;
  }
}